@use '../styles/variables' as *;

header.header {
  box-shadow: inset 0 12px 24px 0 #0000001f, 0 4px 24px 0 #0000001f;
}

.header__logo__container,
.header__logo.big {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}

.header__logo {
  width: 138px !important;
  height: 138px !important;
  aspect-ratio: 1 / 1;
  border-radius: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.small {
    @media (min-width: ($breakpoint-lg + 1px)) {
      display: none;
    }
  }

  @media (max-width: $breakpoint-lg) {
    width: 40px !important;
    height: 40px !important;
  }
}

.header__date__filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  align-items: center;
  width: 100%;

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
